<h1>Edit project</h1>
<hr class="h-divider" />
<%= render partial: 'shared/validation_errors', locals: { model: @project } %>

<%= render partial: 'projects/form', locals: {project: @project, action_btn_txt: 'Save project'} %>
